[submodule "FIN4Contracts"]
	path = FIN4Contracts
	url = https://github.com/johnrachwan123/FIN4Contracts.git
[submodule "FIN4Xplorer"]
	path = FIN4Xplorer
	url = https://github.com/johnrachwan123/FIN4Xplorer.git
[submodule "ethereum-bridge"]
	path = ethereum-bridge
	url = https://github.com/moritz-schindelmann-tum/ethereum-bridge.git
